<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Abel|Acme|Indie+Flower" rel="stylesheet">
<link rel="icon" type="image/x-icon" href="favicon.ico" />
<body>
<h1>Github Searcher</h1>
<p>Please Key in Your Github UserName</p>
<div class ="container">
<div class="jumbotron">
<div class="row">
  <div class="col-md-12">
    <form class="form-group">
      <input class = "form-control" placeholder="Enter Username"  [(ngModel)] = "userName"  name = "userName" (keyup) = tafutaMsee()>
        <button type="reset" class="btn btn-info">Clear</button>


    </form>

  </div>

</div>
<hr>
<p>After keying in your user name please click the link to vist Github</p>
<hr>
<br>
<br>

<div class="col-md-8">
       <div class="output card">
         <h3 appHighlight><strong>{{gittafuta.username}}</strong></h3>
         <h5><strong>Bio: </strong> <em>{{gittafuta.bio}}</em></h5>
         <h5><strong>Name: </strong> <em>{{gittafuta.name}}</em></h5>
         <h5><strong>Repositories: </strong> <em>{{gittafuta.repositories}}</em></h5>
         <h5><strong>Followers: </strong> <em>{{gittafuta.followers}}</em></h5>
         <h5><strong>Following: </strong> <em>{{gittafuta.following}}</em></h5>
         <button class="btn btn-danger"><a [href]="gittafuta.link">Visit GitHub Page</a></button>
       </div>
       </div>
       <h4>Days passed since Keying Your UserName {{gittafuta.date|dateCounter}}</h4>
       </div>
       </div>
<body>
